$color : royalBlue;
$base_size: 1rem;

.app_logo {
    width: $base_size * 2;
    height: $base_size * 2;
}

.text-center {
    text-align: center;
}

.--bold {
    font-weight: bold;
}

.--header {
    background-color: #e9ecef;
    ;
}

.--rounded {
    border-radius: 0.5rem;
}