<template>
  <div>
    <h3 class="text-center">CART</h3>
    <b-jumbotron
      class="--rounded container text-center"
      bg-variant="outline-secondary"
    >
      <div class="mb-2" v-for="product in getCartList" :key="product.id">
        <b-card class="--rounded">
          <b-card-title :title="product.title"></b-card-title>
          <b-card-body>
            <div class="buttons">
              <b-button
                squared
                pill
                variant="info"
                type="button"
                class="mr-2"
                @click="major(product)"
              >
                ➕
              </b-button>
              <span class="counter --bold">{{ product.quantity }}</span>
              <b-button
                pill
                squared
                variant="info"
                type="button"
                class="ml-2 mr-1"
                @click="minor(product)"
              >
                ➖
              </b-button>
              <b-button
                pill
                squared
                variant="danger"
                type="button"
                @click="removeProductFromCart(product)"
              >
                ✖️
              </b-button>
            </div>
          </b-card-body>
        </b-card>
      </div>
      <p class="mb-1">
        <strong>{{ getSumQty(getCartList) }}</strong> items in cart
      </p>
      <p>
        <strong>{{ TotalCartPrice }} €</strong> for this cart
      </p>
      <b-button pill squared variant="success" @click="goTo(`/cartvalidation`)">
        🛒 VALIDATION</b-button
      >
    </b-jumbotron>
    <!-- detailedProduct is a product getter connected to vue observable -->
    <section v-show="detailedProduct != {}">
      <ProductDetails></ProductDetails>
    </section>
  </div>
</template>

<script lang="ts">
import { navigate } from "@/router/routerHelper";
import Vue from "vue";
import { mapGetters, mapActions } from "vuex";
import ProductDetails from "./Product_details.vue";
import { sumQty } from "../helpers";
export default Vue.extend({
  name: "CartComponent",
  components: {
    ProductDetails,
  },
  data() {
    return {};
  },
  methods: {
    ...mapActions([
      "removeProductFromCart",
      "increaseProductQty",
      "decreaseProductQty",
      "increaseTotalCartQuantity",
      "decreaseTotalCartQuantity",
      "increaseTotalCartPrice",
      "decreaseTotalCartPrice",
    ]),
    major(product) {
      this.increaseProductQty(product);
      this.increaseTotalCartQuantity(product);
      this.increaseTotalCartPrice(product.price);
    },
    minor(product) {
      this.decreaseProductQty(product);
      this.decreaseTotalCartQuantity(product);
      this.decreaseTotalCartPrice(product.price);
    },
    getSumQty(array) {
      return sumQty(array);
    },
    goTo(route: string) {
      return navigate(this.$router, route);
    },
  },
  computed: {
    ...mapGetters(["getCartList", "TotalCartPrice", "detailedProduct"]),
  },
});
</script>

<style lang="scss" scoped>
@import "../assets/scss/main.scss";
.jumbotron {
  height: fit-content;

  padding: $base_size;
  color: black;
}

h4 {
  margin-bottom: 0;
}

.counter {
  font-size: $base_size * 1.5;
}

.card {
  .card-body {
    padding: $base_size / 1.5;
    display: flex;
    justify-content: flex-end;
  }
}
</style>
