<template>
  <div>
    <form class="payment-form --rounded m-2 p-2 mb-2">
      <div class="payment-form__content">
        <!-- PRIMARY INFOS SECTION -->
        <div class="client-primary-infos">
          <div class="payment-form__item">
            <label>first name</label>
            <input
              type="text"
              name="first_name"
              placeholder="enter your first name"
              v-model="$v.client.primaryInfos.firstName.$model"
            />
            <span
              class="error-hint"
              v-if="!$v.client.primaryInfos.firstName.required"
            >
              required</span
            >
          </div>
          <div class="payment-form__item mt-1">
            <label>last name</label>
            <input
              type="text"
              name="last_name"
              placeholder="enter your last name"
              v-model="$v.client.primaryInfos.lastName.$model"
            />
            <span
              class="error-hint"
              v-if="!$v.client.primaryInfos.lastName.required"
            >
              required</span
            >
          </div>
          <div class="payment-form__item mt-1">
            <label>email</label>
            <input
              type="text"
              name="last_name"
              placeholder="enter your email"
              v-model="$v.client.primaryInfos.email.$model"
            />
            <span
              class="error-hint"
              v-if="!$v.client.primaryInfos.email.required"
            >
              required</span
            >
            <span class="error-hint" v-if="!$v.client.primaryInfos.email.email"
              >field must be an email</span
            >
          </div>
        </div>

        <!-- ADDRESS SECTION -->
        <div class="client-address-infos">
          <div class="payment-form__item mt-1">
            <label>street</label>
            <input
              type="text"
              name="street"
              placeholder="enter your street name"
              v-model="$v.client.address.street.$model"
            />
            <span class="error-hint" v-if="!$v.client.address.street.required">
              required</span
            >
          </div>
          <div class="payment-form__item mt-1">
            <label>ZIPCode</label>
            <input
              type="text"
              name="ZIPCode"
              maxlength="10"
              placeholder="enter your ZIPCode"
              v-model="$v.client.address.ZIPCode.$model"
            />
            <span class="error-hint" v-if="!$v.client.address.ZIPCode.required">
              required</span
            >
            <span class="error-hint" v-if="!$v.client.address.ZIPCode.numeric"
              >field must be composed only with numbers</span
            >
          </div>
          <div class="payment-form__item mt-1">
            <label>city</label>
            <input
              type="text"
              name="city"
              placeholder="enter your city name"
              v-model="$v.client.address.city.$model"
            />
            <span class="error-hint" v-if="!$v.client.address.city.required">
              required</span
            >
          </div>
        </div>

        <!-- PAYMENT SECTION -->
        <div class="client-payment-infos">
          <div class="payment-form__item mt-1">
            <label>Credit Card Type</label><br />
            <select v-model="$v.client.payment.cardType.$model">
              <option value="VISA">VISA</option>
              <option value="CB">CB</option>
              <option value="MASTERCARD">MASTERCARD</option></select
            ><br />
            <span class="error-hint" v-if="!$v.client.payment.cardType.$model">
              required</span
            >
          </div>
          <div class="payment-form__item mt-1">
            <label>Credit Card Number</label>
            <input
              type="text"
              maxlength="16"
              name="ccn"
              v-model="$v.client.payment.cardNumber.$model"
              placeholder="1234 5678 9101 1121"
            />
            <span
              class="error-hint"
              v-if="!$v.client.payment.cardNumber.$model"
            >
              required</span
            >
            <span
              class="error-hint"
              v-if="!$v.client.payment.cardNumber.numeric"
              >field must only be numbers</span
            >
          </div>
          <div class="payment-form__item mt-1">
            <label>Expiring Date</label>
            <input
              type="text"
              name="exd"
              maxlength="5"
              v-model="$v.client.payment.expiringDate.$model"
              placeholder="MM/YY"
            />
            <span
              class="error-hint"
              v-if="!$v.client.payment.expiringDate.$model"
            >
              required with a MM/YY pattern</span
            >
          </div>
          <div class="payment-form__item mt-1">
            <label>PIN</label>
            <input
              type="text"
              name="pin"
              maxlength="3"
              v-model="$v.client.payment.pin.$model"
              placeholder="123"
            />
            <span class="error-hint" v-if="!$v.client.payment.pin.$model">
              required</span
            >
            <span class="error-hint" v-if="!$v.client.payment.pin.numeric"
              >field must be composed only with numbers</span
            >
          </div>
        </div>

        <!-- SUBMISSION PROGRESS BAR -->
        <div class="completion-bar mt-3">
          <span>Form validation progress</span>
          <b-progress
            :value="progress"
            max="100"
            variant="warning"
            class="mb-2 mt-2"
          ></b-progress>
        </div>

        <!-- SUBMISSION BTN -->
        <div class="mt-2">
          <b-button
            pill
            squared
            variant="success"
            @click="sendFinalMessage"
            :disabled="isNotfullyCompleted"
            >CHECKOUT</b-button
          >
        </div>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { required, email, numeric } from "vuelidate/lib/validators";
export default Vue.extend({
  name: `PaymentFormComponent`,

  data() {
    return {
      isNotfullyCompleted: true,
      progressPercentage: 0,
      client: {
        primaryInfos: {
          firstName: "",
          lastName: "",
          email: "",
        },
        address: {
          street: "",
          ZIPCode: "",
          city: "",
        },
        payment: {
          cardType: "",
          cardNumber: "",
          expiringDate: "",
          pin: "",
        },
      },
    };
  },
  // visual form validation (vuelidate library)
  validations: {
    client: {
      primaryInfos: {
        firstName: {
          required,
        },
        lastName: {
          required,
        },
        email: {
          required,
          email,
        },
      },
      address: {
        street: {
          required,
        },
        ZIPCode: {
          required,
          numeric,
        },
        city: {
          required,
        },
      },
      payment: {
        cardType: {
          required,
        },
        cardNumber: {
          required,
          numeric,
        },
        expiringDate: {
          required,
        },
        pin: {
          required,
          numeric,
        },
      },
    },
  },

  methods: {
    sendFinalMessage() {
      alert(
        `
      Merci d'avoir pris le temps de jouer le jeu 🌝.
      Pas de panique, aucune API de paiement n'est disponible, les données indiquées ne sont donc transmises nulle part.
      `
      );
    },
  },
  computed: {
    // logic form validations
    progress(): any {
      /**
       * this computed method manage the progression bar as long as
       * the form is correctly completed, and is divided into 3 separate sub-checks
       */
      // first check (client primaryInfos)
      if (
        this.client.primaryInfos.firstName != "" &&
        this.client.primaryInfos.lastName != "" &&
        this.client.primaryInfos.email != "" &&
        this.client.primaryInfos.email.match(
          /* This Regex checks if the user input fills the pattern xxx@yyy.zz (where x, y is greater than 1, has an @ in it, and z must be greater than 2) */
          /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        )
      ) {
        this.progressPercentage = 33;
      }

      // second check (client address)
      if (
        this.client.address.street !== "" &&
        this.client.address.city !== "" &&
        this.client.address.ZIPCode !== "" &&
        /* This Regex checks if the user input is only made of numbers from 0 to 9 */
        this.client.address.ZIPCode.match(/^[0-9]*$/)
      ) {
        this.progressPercentage += 33;
      }

      // thirs and last check (client payment)
      if (
        this.client.payment.cardType !== "" &&
        this.client.payment.cardNumber !== "" &&
        /* This Regex checks if the user input is only made of numbers from 0 to 9 */
        this.client.payment.cardNumber.match(/^[0-9]*$/) &&
        this.client.payment.pin !== "" &&
        /* This Regex checks if the user input is only made of numbers from 0 to 9 */
        this.client.payment.pin.match(/^[0-9]*$/) &&
        /* This Regex checks if the user input is only made of numbers from 0 to 9 */
        this.client.payment.cardNumber.match(/^[0-9]*$/) &&
        this.client.payment.expiringDate !== "" &&
        /* This Regex checks if the user input match a valid and realist expiring date */
        this.client.payment.expiringDate.match(/^(0[1-9]|1[0-2])\/?([0-9]{2})$/)
      ) {
        this.progressPercentage += 34;
      }
      /* ternary to activate checkout btn */
      this.progressPercentage === 100
        ? (this.isNotfullyCompleted = false)
        : (this.isNotfullyCompleted = true);
      return this.progressPercentage;
    },
  },
});
</script>

<style lang="scss">
@import "../assets/scss/main.scss";
.payment-form {
  border: 1px solid black;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  .payment-form__item > input {
    width: 100%;
    border-radius: 0.25rem;
    height: 2.5rem;
    padding: 0.75rem;
  }
}

label {
  font-weight: 600;
}

.client-address-infos,
.client-payment-infos {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;

  .payment-form__item {
    margin-right: $base_size;
  }
}
.payment-form__item > select {
  border-radius: 0.25rem;
  padding: 0.25rem;
  height: 2.5rem;
}

.completion-bar {
  border: 1px solid black;
  background-color: whitesmoke;
  border-radius: 0.25rem;
  padding: 0.75rem;
}

.error-hint {
  color: red;
  font-style: italic;
  font-size: $base_size * 0.85;
}
</style>