<template>
  <div v-if="showDetails">
    <section>
      <b-jumbotron class="p-3 container">
        <h3>PRODUCTS DETAILS</h3>
        <ul class="details-list">
          <li class="details-list__item">{{ detailedProduct.title }}</li>
          <li class="details-list__item">{{ detailedProduct.price }} €</li>
          <li class="details-list__item">{{ detailedProduct.category }}</li>
          <li class="details-list__item">{{ detailedProduct.description }}</li>
        </ul>
        <b-button squared pill variant="info" @click="clearPanel"
          >CLOSE</b-button
        >
      </b-jumbotron>
    </section>
  </div>
</template>

<script lang="ts">
import { mapGetters } from "vuex";
import displayedDetails from "../observables/Details";
import Vue from "vue";
export default Vue.extend({
  name: `ProductDetails`,
  data() {
    return {};
  },

  methods: {
    clearPanel() {
      displayedDetails.details = !displayedDetails.details;
    },
  },
  computed: {
    ...mapGetters(["detailedProduct"]),
    showDetails() {
      return displayedDetails.details;
    },
  },
});
</script>

<style lang="scss">
@import "../assets/scss/main.scss";
.details-list {
  font-weight: 600;
  padding-left: $base_size * 1.5;

  &__item {
    list-style-type: disc;
  }
}
</style>
