<template>
  <div>
    <b-container>
      <header>
        <h3 class="text-center">CART DETAILS</h3>
      </header>
      <section>
        <b-row class="text-center --bold --header --rounded">
          <b-col>Product Name</b-col>
          <b-col>Quantity</b-col>
          <b-col>Unit Price</b-col>
          <b-col>Sub-Total for product</b-col>
        </b-row>
      </section>
      <section>
        <b-row
          class="text-center --rounded mt-1 mb-1"
          v-for="product in getCartList"
          :key="product.id"
        >
          <b-col>{{ product.title }}</b-col>
          <b-col>{{ product.quantity }}</b-col>
          <b-col>{{ product.price }} €</b-col>
          <b-col>{{ product.price * product.quantity }} €</b-col>
        </b-row>
      </section>
    </b-container>
    <section class="mt-3" v-if="!getCartList.length">
      <h3 class="warning_message --bold text-center">
        <em>Cart is currently empty...</em><br />😥😥😥
      </h3>
    </section>
    <section class="buttons mt-1 p-1">
      <b-button pill squared variant="info" @click="goTo(`/`)"
        >BACK TO SHOP PAGE</b-button
      >
      <b-button
        pill
        squared
        class="ml-2"
        variant="success"
        v-if="getCartList.length"
        @click="wantsToPay"
        >PROCEED TO PAYMENT</b-button
      >
    </section>
    <div class="payment_section" v-if="isReadyToProceed">
      <PaymentFormComponent></PaymentFormComponent>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters } from "vuex";
import PaymentFormComponent from "./PaymentForm.vue";
import { navigate } from "@/router/routerHelper";
export default Vue.extend({
  name: "SumCartComponent",
  components: {
    PaymentFormComponent,
  },
  data() {
    return {
      isReadyToProceed: false,
    };
  },

  methods: {
    goTo(route: string) {
      return navigate(this.$router, route);
    },
    // this method shows the payment form
    wantsToPay() {
      this.isReadyToProceed = true;
    },
  },
  computed: {
    ...mapGetters(["getCartList", "TotalCartPrice"]),
  },
});
</script>

<style lang="scss">
@import "../assets/scss/main.scss";
.row {
  border: 1px solid black;
  padding: $base_size;
}

.warning_message {
  color: orange;
}

.buttons {
  display: flex;
  justify-content: center;
  align-content: center;
}
</style>
