<template>
  <div id="app">
    <NavbarComponent></NavbarComponent>
    <div class="router-view mb-1">
      <router-view></router-view>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import NavbarComponent from "./components/Navbar.vue";

export default Vue.extend({
  name: "App",
  components: { NavbarComponent },
});
</script>

<style lang="scss">
@import "./assets/scss/main.scss";

.router-view {
  margin-top: $base_size * 5;
}
</style>
