<template>
  <div></div>
</template>

<script lang="ts">
/**
 * THIS COMPONENT IS A TEMPLATE FOR CREATING NEW COMPONENTS IN THE APP. JUST NEED TO REPLACE COMMENTS WITH REAL INFOS
 */
import Vue from "vue";
export default Vue.extend({
  name: `/*replace with component name*/`,
  /*   data() {
    return {};
  },
  created() {},
  mounted() {},
  updated() {},

  methods: {},
  computed: {}, */
});
</script>

<style lang="scss">
/* @import "../assets/scss/main.scss"; */
</style>